@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;

    --bg-background: hsl(202, 100%, 46%);
    --bg-secondBackground: hsl(173, 46%, 66%);
    --bg-button: #000;
    --icons-color: #FFf
}



body {
    background-color: var(--bg-background);
    background-image: linear-gradient(var(--bg-background) 0%, var(--bg-secondBackground)  100%);
    height: 100vh;
    background-size: 200% 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  moveBackground 5s ease-in infinite alternate;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.darkTheme {
    --bg-background: hsl(0, 0%, 0%);
    --bg-secondBackground: hsl(168, 11%, 54%);
    --icons-color: #000;
    --bg-button: #ffea00;


}

i {
    color: var(--icons-color);
    font-size: 2rem;
}

.buttonChangeTheme {
    border: none;
    background: var(--bg-button);
    border: 1px solid var(--bg-secondBackground);
    width: 10%;
    height: 3rem;
    border-radius: .5rem;
}

html:not(.darkTheme) .ph-moon,
html.darkTheme .ph-sun {
    display: none;
}
 

main {
    height: auto;
    width: min(42.8rem, 90%);
    background: #fff;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: .1rem -.1rem 2rem .5rem #000;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}


section .hangman {
    height: 20rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .letters {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    gap: 1rem;
}


h1 {
    text-transform: uppercase;
    text-align: center;
}

.sr-only {
    height: 1px;
    width: 1px;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
}

.sectionDarkTheme {
    width: 100%;
    display: flex;
    place-content: end;
}

.sectionDarkTheme button {
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.visibility {
    visibility: hidden;
    display: none;
}

form input {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem 0 0 .5rem;
}

form input, form button, .startGame {
    border: none;
    outline: none;
    border: 1px solid #000;
    font-weight: bold;
}

form input:focus, form button:focus {
    border: none;
    outline: 1px solid hsl(202, 100%, 46%);
}

form button, .startGame {
    padding: 1rem;
    background: var(--bg-button);
    color: var(--icons-color);
}

form button {
    border-radius: 0 .5rem .5rem 0;
}

form button:hover {
    color: #fff;
    background: rgba(0,0,0,0.4);
}

.tips {
    margin-top: 1rem;
    letter-spacing: .2rem;
}

.startGame {
    border-radius: 1rem;
}

.startGame, form button, .buttonChangeTheme {
    transition: background 250ms ease-in;
}

.ph-alien {
    font-size: 3.5rem;
    color: #000;
}
.hangman span {
    color: #000;
    font-size: 3.2rem;
}


@keyframes moveBackground {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}